h1 {
  font-size: 3.5rem;
}

.head-section {
  min-height: 95vh;
}

.about-section {
  min-height: 70vh;
}

.project-section {
  min-height: 65vh;
}

.skill-section {
  min-height: 35vh;
}

.contact-section {
  min-height: 20vh;
}
