h1 {
  font-size: 3.5rem;
}

.head-section {
  min-height: 85vh;
}

.about-section {
  min-height: 95vh;
}

.project-section {
  min-height: 65vh;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .head-section {
    min-height: 15vh;
  }
}
