@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Custom theming*/
  --bs-body-bg: #8d0000;
  --bs-body-color: #ffffff;
  --bs-secondary-bg: #800020;
  --bs-secondary-bg-rgb: 128, 0, 32;
  --bs-emphasis-color: #ffffff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-btn-bg: #444444;
  --bs-link-color: #ffffff;
  --bs-link-color-rgb: 255, 255, 255;
  --bs-link-hover-color: #c0c0c0;
  --bs-link-hover-color-rgb: 192, 192, 192;

  --bs-font-sans-serif: "Kode mono";
}

@media (max-width: 768px) {
  .card-img-top {
    display: none;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--bs-body-bg);
}
